<div class="wrapper">
    <div style="margin-top: 20px;margin-bottom: 20px;">
        <button class="btn btn-primary" (click)="getAllCountries()" data-toggle="modal" data-target="#addLaborModal">
            <i class="fa fa-plus"></i>&nbsp;
            Add Labor
        </button>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-hover">

            <thead>
                <th>#</th>
                <th>Labor Name</th>
                <th>District Name</th>
                <th>Task Details</th>
                <th>Work Hours</th>
                <th>Actions</th>
            </thead>
            <tbody>
                <tr *ngFor="let labor of laborObjs | paginate: { id: 'listing_pagination',itemsPerPage: 6,currentPage: page,totalItems: totalRecords }">
                    <td>{{ labor.id }}</td>
                    <td>{{ labor.laborName }}</td>
                    <td>{{ labor.district.name }}</td>
                    <td>{{ labor.taskDetail }}</td>
                    <td>{{ labor.workHours }}</td>
                    <td>
                        <button class="btn btn-danger" mwlConfirmationPopover [popoverTitle]="popoverTitle"
                            [popoverMessage]="popoverMessage" placement="left" (confirm)="deleteLabor(labor.id)"
                            (cancel)="cancelClicked = true"><i class="fa fa-trash"></i></button> &nbsp;
                        <button class="btn btn-secondary" (click)="updateLaborClicked(labor.id)" data-toggle="modal"
                            data-target="#editLaborModal"><i class="fa fa-edit"></i></button>&nbsp;
                        <button class="btn btn-primary" (click)="getLaborById(labor.id)" data-toggle="modal"
                            data-target="#viewLaborModal"><i class="fa fa-eye"></i></button>&nbsp;
                    </td>
                </tr>
            </tbody>

        </table>
        <div>
            <pagination-controls  id="listing_pagination" maxSize="5" directionLinks="true" (pageChange)="page = $event" style="display: flex; float:right;"></pagination-controls>
        </div>
    </div>
</div>


<!-- Add District Modal Start -->
<div class="modal fade" id="addLaborModal" tabindex="-1" role="dialog" aria-labelledby="addLaborModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addDistrictModalLongTitle">Labor</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form
            (ngSubmit)="f.form.valid && addLabor()" 
            #f="ngForm" 
            novalidate>
            <div class="modal-body">

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Country Name:</label>
                        <select class="form-control" (change)="changeCountryHandler($event)">
                            <option>--select a country--</option>
                            <option *ngFor="let country of countryObjs" value="{{ country.id }}">{{ country.name }}
                            </option>
                        </select>
                    </div>

                    <div class="form-group col-md-6">
                        <label>District Name:</label>
                        <select class="form-control" (change)="changeDistrictHandler($event)">
                            <option>--select a District--</option>
                            <option *ngFor="let district of districtObjs" value="{{ district.id }}">{{ district.name }}
                            </option>
                        </select>
                    </div>
                </div>


                <label>Labor Name:</label>
                <input type="text" name="laborName" 
                class="form-control" id="laborName"
                [(ngModel)]="addLaborObj.laborName"
                #laborName = "ngModel"
                required>

                <div *ngIf="f.submitted && laborName.invalid" class="alert">
                    <div class="alert alert-danger" role="alert" *ngIf="laborName.errors?.required">
                      <span> Name is required.*</span>
                    </div>
                  </div>

                <label>Task Detail:</label>
                <input type="text" name="taskDetail" 
                class="form-control" id="taskDetail" 
                [(ngModel)]="addLaborObj.taskDetail"
                #taskDetail = "ngModel"
                required>

                <div *ngIf="f.submitted && taskDetail.invalid" class="alert">
                    <div class="alert alert-danger" role="alert" *ngIf="taskDetail.errors?.required">
                      <span> Task Detail is required.*</span>
                    </div>
                  </div>


                <label>Work Hours:</label>
                <input type="text" name="workHpurs" 
                class="form-control" id="workHours"
                [(ngModel)]="addLaborObj.workHours"
                #workHours = "ngModel"
                pattern="^[0-9]{1,2}$"
                required>
                
                <div *ngIf="f.submitted && workHours.invalid " class="alert">
                    <div class="alert alert-danger" role="alert" *ngIf="workHours.errors?.required">
                      <span> Work Hours is required.*</span>
                    </div>
                    <div class="alert alert-danger" role="alert" *ngIf="workHours.errors?.pattern">
                      <span> Work Hours should be in numeric characters.*</span>
                    </div>
                  </div>



            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal"><i
                        class="fas fa-window-close"></i></button>
                <button type="submit" class="btn btn-primary">Add</button>
            </div>
        </form>
        </div>
    </div>
</div>
<!-- End Add District Modal-->

<!-- View District Modal Start -->
<div class="modal fade" id="viewLaborModal" tabindex="-1" role="dialog" aria-labelledby="viewLaborModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="viewLaborModalLongTitle">Labor

                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <label>Country Name:</label>
                <div><strong>{{ viewLaborObj.country }}</strong></div><br>

                <label>District Name:</label>
                <div><strong>{{viewLaborObj.district }}</strong></div><br>

                <label>Labor Name:</label>
                <div><strong>{{viewLaborObj.laborName }}</strong></div><br>

                <label>Task Detail Name:</label>
                <div><strong>{{viewLaborObj.taskDetail }}</strong></div><br>

                <label>Work Hours:</label>
                <div><strong>{{viewLaborObj.workHours }}</strong></div><br>
            </div>

        </div>
    </div>
</div>
<!-- End View District Modal-->

<!-- Edit District Modal Start -->
<div class="modal fade" id="editLaborModal" tabindex="-1" role="dialog" aria-labelledby="editLaborModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editLaborModalLongTitle">Labor</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">



                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Country Name:</label>
                        <input type="text" name="countryName" class="form-control" [(ngModel)]="countryDetails"
                            readonly>

                    </div>

                    <div class="form-group col-md-6">
                        <label>District Name:</label>
                        <input type="text" name="districtName" class="form-control" [(ngModel)]="districtDetails"
                            readonly>

                    </div>
                </div>

                <label>Labor Name:</label>
                <input type="text" name="laborName" class="form-control" [(ngModel)]="editLaborObj.laborName">

                <label>Task Detail:</label>
                <input type="text" name="taskDetail" class="form-control" [(ngModel)]="editLaborObj.taskDetail">

                <label>Work Hours:</label>
                <input type="text" name="workHpurs" class="form-control" [(ngModel)]="editLaborObj.workHours">



                <br>

   

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal"><i
                        class="fas fa-window-close"></i></button>
                <button type="submit" class="btn btn-primary" (click)="updateLabor(editLaborObj.id)">Update</button>
            </div>
        </div>
    </div>
</div>
<!-- End Edit District Modal-->