<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <div class="navbar-brand">Data Entry App</div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/country">Country</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/district">District</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/labor">Labor</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/report">Report</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">

<router-outlet></router-outlet>

</div>

<nav class="navbar fixed-bottom navbar-light bg-primary justify-content-center">
 <div style="color: aliceblue;">&copy;<a href="http://bogatikrishna.com.np/" 
  style="color: aliceblue; text-decoration: none;"> 
  Krishna Bogati
</a>
  ,2021
</div>
</nav>