
 <div class="container-fluid">
    <div class="row">
        <div class="col-12 col-sm-6 col-md-3">
        
 
        </div>
        <!-- /.col -->
        <div class="col-12 col-sm-6 col-md-3">
                {{countryCount}}
        </div>
        <!-- /.col -->

    
        <div class="col-12 col-sm-6 col-md-3">
            {{districtCount}}
        </div>
        <!-- /.col -->
        <div class="col-12 col-sm-6 col-md-3">
            {{laborCount}}
        </div>
        <!-- /.col -->
      </div>
</div>